
.breadcrumbs {
  overflow: hidden !important;
  position: fixed;
  height:7%;
  width:100%;
  }

.breadcrumbs li {
  margin-bottom:5%;
  }

 .row {
  padding-top: 6%;
  padding-bottom:4%;
  padding-left:2%;
  padding-right:2%;
}


.style {
  margin-bottom: 13%;
}

a:hover {
  color:#0000FF;
  text-decoration:none;
}  

a:active {
  color:#FF0608;
  text-decoration:none;
  }  

#gelp {
  font-size:80px;
  font-weight:bold;
  font-style:italic;
  color:#BE1000;
  margin-top: 25px; 
  margin-left: 60px;
  font-family:sans-serif;
}

#home {
  font-size:40px;
  font-style:italic;
  color:#676781 ;
  margin-top: 2%; 
  margin-left: 4%;
  margin-right: 40%;
  font-family: "Trebuchet MS"
}

 .image {
  float:right;
  position:absolute;
  top:20%;
  left:67%;
  }

  .rubygems {
  float: right;
  position: relative;
  right: 15%;
  padding-top:15%;
  padding-left:15%;
 }


#footer {
  background: url("footer.png");
  max-width: 100%;
  text-align: center;
  color: #9c9c9c;
}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 150px;}  

#footer {position: relative;
  margin-top: -150px; 
  height: 150px;
  clear:both;} 

.background {
    background-image:url("gpattern.png");
    background-repeat:repeat;
}

li {
  list-style-type:none;
}
